In [1]:
# 1
print('Hello World')

Hello World

In [2]:
# 2
print('Mary\'s Cosmetics')

Mary's Cosmetics

In [13]:
# 3
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [12]:
# 4
print('"C:\"Windows"')

"C:"Windows"

In [14]:
# 5
print('안녕하세요\n만나서\t\t반갑습니다')

안녕하세요
만나서		반갑습니다

In [15]:
# 6
print('오늘은', '일요일')

오늘은 일요일

In [16]:
# 7
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [17]:
# 8
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [52]:
# 9
print('first', end=" ");print('second')

first second

In [22]:
# 10
print(5/3)

1.6666666666666667

In [23]:
# 11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10

print(총평가금액)

500000

In [25]:
# 12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [33]:
# 13
s = 'hello'
t = 'python'

print(s+'!', t)

hello! python

In [36]:
# 14
print(2 + 2 * 3)

8

In [35]:
# 15
a = 132
print(type(a))

<class 'int'>

In [42]:
# 16
num_str = "720"
print(type(int(num_str)))

<class 'int'>

In [41]:
# 17
num = 100
print(type(str(num)))

<class 'str'>

In [43]:
# 18
x = "15.79"

print(type(float(x)))

<class 'float'>

In [44]:
# 19
year = "2020"

int_year = int(year)

print(int_year+1, int_year+2, int_year+3)

2021 2022 2023

In [51]:
# 20
월 = 48584

총금액 = 월 * 36

print(총금액)

1749024

In [4]:
# 21

letters = 'python'

print(letters[0], letters[2])

p t

In [3]:
# 22

license_plate = '24가 2210'

print(license_plate[-4:])  # 슬라이싱!! 꼭 n-1부터 뺄 필요는 없다 ㅠㅠ

2210

In [8]:
# 23

str = '홀짝홀짝홀짝'

print(str[0:len(str) - 1:2])

홀홀홀

In [17]:
# 24

str = 'PYTHON'

print(str[::-1])  # 슬라이싱 거꾸로 하는 [::-1] 외우기 ㅠㅠㅠㅠ

print(str[-1])  # 인덱스 제일 마지막은 [-1] 이용!!!

NOHTYP
N

In [13]:
# 25

phone_number = "010-1234-5678"

print(phone_number.replace("-", " "))

010 1234 5678

In [14]:
# 26

print(phone_number.replace("-", ""))

01012345678

In [18]:
# 27

url = "http://naver.com"

url_split = url.split('.')

print(url_split[-1])

com

In [20]:
# 28

lang = 'python'

lang[0] = 'P'. # 변경 지원하지 않음! immutable 하기 때문에.

print(lang)

SyntaxError: invalid syntax (873057693.py, line 5)

In [21]:
# 29

string = 'abcdfe2a354a32a'

str_replaced = string.replace('a', 'A')  # 새로운 변수 지정. 

print(str_replaced)

Abcdfe2A354A32A

In [22]:
# 30 

string = 'abcd'
string.replace('b', 'B')  # 새로운 변수를 설정해서 바꿔주지 않으면 변경되지 않는다!! 문자열은 기본적으로 변경 불가능 (immutable)하다.
print(string)

abcd

In [24]:
# 31

a = '3'
b = '4'
print(a + b)

34

In [26]:
# 32

print('Hi!' * 3)

Hi!Hi!Hi!

In [27]:
# 33

print('-' * 80)

--------------------------------------------------------------------------------

In [34]:
# 34

t1 = 'python'
t2 = 'java'

t3 = t1 + ' ' + t2 + ' '

print(t3 * 3)

python java python java python java

In [36]:
# 35

# `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미 -> print % formatting 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름 : %s, 나이 : %d' % (name1, age1))
print('이름 : %s, 나이 : %d' % (name2, age2))

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [37]:
# 36

print('이름 : {}, 나이 : {}'.format(name1, age1))
print('이름 : {}, 나이 : {}'.format(name2, age2))

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [39]:
# 37

print(f'이름 : {name1}, 나이 : {age1}')
print(f'이름 : {name2}, 나이 : {age2}')

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [42]:
# 38

상장주식수 = "5,969,782,550"

print(int(상장주식수.replace(',', '')))

5969782550

In [45]:
# 39

분기 = "2020/03(E) (IFRS연결)"  # 슬라이싱은 **미만**으로 출력!!!!

print(분기[0:7])

2020/03

In [49]:
# 40

data = "   삼성전자    "

data_removed = data.strip()

print(data_removed)

삼성전자

In [50]:
# 41

ticker = "btc_krw"

ticker_upper = ticker.upper()

print(ticker_upper)

BTC_KRW

In [51]:
# 42

ticker_lower = ticker_upper.lower()

print(ticker_lower)

btc_krw

In [60]:
# 43

a = "hello"

print(a.capitalize())

Hello

In [64]:
# 44

file_name = "보고서.xlsx"

print(file_name.endswith('xlsx'))

True

In [71]:
# 45

file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xls')))  # 아마도 여러개를 한번에 확인할 수도 있는듯?

True

In [6]:
# 46

file_name = "2020_보고서.xlsx"

print(file_name.startswith('2020'))

True

In [7]:
# 47

a = "hello world"

print(a.split(' '))

['hello', 'world']

In [8]:
# 48

a = 'btc_krw'

print(a.split('_'))

['btc', 'krw']

In [11]:
# 49

date = "2020-05-01"

year = date.split('-')[0]
month = date.split('-')[1]
d = date.split('-')[2]

print(year, month, d)

2020 05 01

In [14]:
# 50

data = "039490     "

data_stripped = data.rstrip(' ')

print(data_stripped)

039490

In [2]:
# 51

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [22]:
# 52
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

movie_rank.append('배트맨')

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [24]:
# 53

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

movie_rank.insert(1, '배트맨')

print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키']

In [26]:
# 54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [27]:
# 55

del movie_rank[2]
del movie_rank[2]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [28]:
# 56

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

print(lang1 + lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [29]:
# 57

nums = [1, 2, 3, 4, 5, 6, 7]

print(max(nums))
print(min(nums))

7
1

In [30]:
# 58

nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [31]:
# 59

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [32]:
# 60

nums = [1, 2, 3, 4, 5]

average = sum(nums) / len(nums)

print(average)

3.0

In [34]:
# 61

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

# -1까지라고 쓰면 마지막 인덱스 **미만**까지!!!!

[100, 130, 140, 150, 160, 170]

In [36]:
# 62

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [37]:
# 63

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [40]:
# 64

nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [41]:
# 65

interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[-1])

삼성전자 Naver

In [46]:
# 66

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [47]:
# 67

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [48]:
# 68

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [50]:
# 69

string = "삼성전자/LG전자/Naver"

print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [51]:
# 70

data = [2, 4, 3, 1, 5, 10, 9]

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]

In [52]:
# 71

my_variable = ()

print(type(my_variable))

<class 'tuple'>

In [53]:
# 72

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [54]:
# 73

my_tuple = (1, )

In [55]:
# 74 

# tuple은 immutable하기 때문에 변경이 불가능하다.

In [ ]:
# 75

# tuple

In [56]:
# 76

t = ('A', 'b', 'c')

In [57]:
# 77

interest = ('삼성전자', 'LG전자', 'SK Hynix')

print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [59]:
# 78

print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [58]:
# 79

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# 읭....?? 연산자 없이 왜 실행되지?

apple banana cake

In [63]:
# 80

print(tuple(range(2,100,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [65]:
# 81

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, a, b = scores  # 앞의 변수에 패킹을 해도 가능하다..! 마지막만 되는 줄 ㅠㅠ

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [67]:
# 82

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score = scores

print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [68]:
# 83

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, b = scores

print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [70]:
# 84

temp = {}

print(type(temp))

<class 'dict'>

In [74]:
# 85

icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [75]:
# 86

icecream['죠스바'] = 1200
icecream['월드콘'] = 1500

print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [84]:
# 87

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}


print('메로나 가격 :', ice['메로나'])

메로나 가격 : 1000

In [86]:
# 88

ice['메로나'] = '1300'

print(ice)

{'메로나': '1300', '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [87]:
# 89

ice.pop('메로나')

# del ice['메로나']

print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 90

'누가바' 라는 key 값이 존재하지 않기 때문.

In [88]:
# 91

inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 150]}

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 150]}

In [89]:
# 92

print(inventory['메로나'][0], '원')

300 원

In [90]:
# 93

print(inventory['메로나'][1], '개')

20 개

In [93]:
# 94

inventory['월드콘'] = [500, 7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 150], '월드콘': [500, 7]}

In [95]:
# 95

list(inventory.keys())

['메로나', '비비빅', '죠스바', '월드콘']

In [97]:
# 96

x = list(inventory.values())
print(x)

[[300, 20], [400, 3], [250, 150], [500, 7]]

In [102]:
# 97

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [104]:
# 98

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [2]:
# 99

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [3]:
# 100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [19]:
# 101

bool type이다.

In [20]:
# 102

False

False

In [21]:
# 103

True

True

In [22]:
# 104

True

True

In [23]:
# 105

True

True

In [24]:
# 106

invalid syntax >

SyntaxError: invalid syntax (959349633.py, line 3)

In [25]:
# 107

아무것도 출력되지 않는다.

SyntaxError: invalid syntax (4121825749.py, line 3)

In [26]:
# 108

Hi, there

NameError: name 'Hi' is not defined

In [29]:
# 109

1
2
4

4

In [30]:
# 110

3 5

SyntaxError: invalid syntax (3502771750.py, line 3)

In [2]:
# 111

print(input('문자열을 입력하세요 : ') * 2)

문자열을 입력하세요 : 안녕
안녕안녕

In [4]:
# 112

x = input('숫자를 입력하세요 : ')

print(int(x) + 10)

숫자를 입력하세요 : 59
69

In [6]:
# 113

x = int(input('숫자를 입력하세요 : '))

if x % 2:
    print('홀수')
else:
    print('짝수')

숫자를 입력하세요 : 59
홀수

In [7]:
# 114

x = int(input('숫자를 입력하세요 : ')) + 20

if x <= 255:
    print(x)
else:
    print(255)

숫자를 입력하세요 : 250
255

In [8]:
# 115 

x = int(input('숫자를 입력하세요 : ')) - 20

if x < 0:
    print(0)
elif x > 255:
    print(255)
else:
    print(x)

숫자를 입력하세요 : -1
0

In [30]:
# 116

time = input('시간을 입력하세요 : ')

if time[-1:-3:-1] == '00':  # 그냥 time[-2:] 를 하면 된다.... ㅎㅎ.....
    print('정각입니다')
else:
    print('정각이 아닙니다')

시간을 입력하세요 : 12:12
정각이 아닙니다

In [32]:
# 117

fruit = ["사과", "포도", "홍시"]

favorite_fruit = input('좋아하는 과일은? ')

if favorite_fruit in fruit:
    print('정답입니다')
else:
    print('정답이 아닙니다')

좋아하는 과일은? 복숭아
정답이 아닙니다

In [34]:
# 118

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

user_investment = input('투자 종목을 입력하세요: ')

# if user_investment in warn_investment_list:
#     print('투자 경고 종목입니다.')
# else:
#     print('투자 경고 종목이 아닙니다.')
    
print('투자 경고 종목입니다') if user_investment in warn_investment_list else print('투자 경고 종목이 아닙니다')

투자 종목을 입력하세요: nokia
투자 경고 종목이 아닙니다

In [36]:
# 119

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

favorite_season = input('제가 좋아하는 계절은 : ')

print('정답입니다') if favorite_season in fruit.keys() else print('오답입니다')

제가 좋아하는 계절은 : 몰라
오답입니다

In [37]:
# 120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

favorite_season = input('제가 좋아하는 계절은 : ')

print('정답입니다') if favorite_season in fruit.values() else print('오답입니다')

제가 좋아하는 계절은 : 딸기
정답입니다

In [40]:
# 121

user_char = input('영어 문자 하나를 입력하세요 : ')

print(user_char.upper()) if user_char.islower() else print(user_char.lower())

영어 문자 하나를 입력하세요 : B
b

In [44]:
# 122

user_score = int(input('score : '))

if 0 <= user_score <= 20:
    print('grade is E')
elif user_score <= 40:
    print('grade is D')
elif user_score <= 60:
    print('grade is C')
elif user_score <= 80:
    print('grade is B')
elif user_score <= 100:
    print('grade is A')

score : 83
grade is A

In [55]:
# 123

user_money = input('금액, 통화명: ')

x = user_money.split(' ')

if x[-1] == '달러':
    print(f'{float(x[0]) * 1167} 원')
elif x[-1] == '엔':
    print(f'{float(x[0]) * 1.096} 원')
elif x[-1] == '유로':
    print(f'{float(x[0]) * 1268} 원')
elif x[-1] == '위안':
    print(f'{float(x[0]) * 1.096} 원')
    
    

# 정답은 딕셔너리 이용.

# 환율 = {"달러": 1167, 
#         "엔": 1.096, 
#         "유로": 1268, 
#         "위안": 171}
# user = input("입력: ")
# num, currency = user.split()
# print(float(num) * 환율[currency], "원")

금액, 통화명: 100 달러
116700.0 원

In [58]:
# 124

a = int(input('number 1 : '))
b = int(input('number 2 : '))
c = int(input('number 3 : '))

d = max(a, b)
e = max(d, c)

print(e)

number 1 : 10
number 2 : 9
number 3 : 20
20

In [63]:
# 125

phone_number_list = input('xxx-xxxx-xxxx : ').split('-')

phone_dict = {'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}

print(f'당신은 {phone_dict[phone_number_list[0]]} 사용자 입니다.')

xxx-xxxx-xxxx : 011-345-1922
당신은 SKT 사용자 입니다.

In [69]:
# 126

gangbukgu = ['010', '011', '012']
dobonggu = ['013', '014', '015']
nowongu = ['016', '017', '018', '019']

zipcode = input('우편번호를 입력하세요: ')

x = zipcode[:3]

if x in gangbukgu:
    print('강북구')
if x in dobonggu:
    print('도봉구')
if x in nowongu:
    print('노원구')

우편번호를 입력하세요: 01400
도봉구

In [76]:
# 127

# social_number = input('주민등록번호를 입력하세요 : ').split('-')

# first_back_number = social_number[1][0]

# if first_back_number == '1' or '3':
#     print('남자')
# else:
#     print('여자')

social_number = input('주민등록번호를 입력하세요 : ').split('-')

first_back_number = social_number[1][0]

if first_back_number == '1' or first_back_number == '3':
    print('남자')
else:
    print('여자')

주민등록번호를 입력하세요 : 821010-1635210
남자

In [83]:
# 128

social_number = input('주민등록번호를 입력하세요 : ').split('-')

region = int(social_number[1][1:3])

if 0 <= region <= 8:
    print('서울입니다')
else:
    print('서울이 아닙니다')

주민등록번호를 입력하세요 : 861010-1015210
서울입니다

In [110]:
# 129

social_number = input('주민등록번호를 입력하세요 : ').split('-')

last_number = social_number[1][-1]

removed_last_number = social_number[0][:] + social_number[1][:-1]

x = list(removed_last_number)
y = list('234567892345')
n = 0

for a, b in zip(x, y):
    n += int(a) * int(b)
    
result = 11 - (n % 11)

if result != int(last_number):
    print("유효하지 않은 주민등록번호입니다.")
else:
    print("유효한 주민등록번호입니다.")

주민등록번호를 입력하세요 : 821010-1635210
유효하지 않은 주민등록번호입니다.

In [111]:
# 130

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

ModuleNotFoundError: No module named 'requests'

In [113]:
# 131

사과 
귤
수박

NameError: name '사과' is not defined

In [115]:
# 132

#####
#####
#####

In [116]:
# 133


print("A")
print("B")
print("C")

A
B
C

In [119]:
# 134

print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [122]:
# 135

변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [124]:
# 136

변수 = [10, 20, 30]

for i in 변수:
    print(i)

10
20
30

In [125]:
# 137

for i in [10, 20, 30]:
    print(i)

10
20
30

In [127]:
# 138

for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [128]:
# 139

print("++++")

for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [129]:
# 140

for _ in range(4):
    print("-------")

-------
-------
-------
-------

In [132]:
# 141

리스트 = [100, 200, 300]

for i in 리스트:
    print(int(i + 10))

110
210
310

In [134]:
# 142

리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [135]:
# 143

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

In [136]:
# 144

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [137]:
# 145

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [139]:
# 146

리스트 = [1, 2, 3]

for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [140]:
# 147

리스트 = [1, 2, 3]

for i in 리스트:
    print(f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [142]:
# 148

리스트 = ["가", "나", "다", "라"]
list = 리스트[1:]

for i in list:
    print(i)

나
다
라

In [144]:
# 149

리스트 = ["가", "나", "다", "라"]
list = 리스트[::2]

for i in list:
    print(i)

가
다

In [145]:
# 150

리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [146]:
# 151

리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [147]:
# 152

리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [148]:
# 153

리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i % 3 == 0:
        if i < 20:
            print(i)
            
# if (i % 3) == 0 or (i < 20) -> 이렇게 작성하는 것도 가능하다.

12
18

In [149]:
# 154

리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [150]:
# 155

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [151]:
# 156

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [154]:
# 157

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i.title())  # 아니면 첫글자를 인덱싱으로 뽑아서 upper메서드 사용해도 된다.

Dog
Cat
Parrot

In [162]:
# 158

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [163]:
# 159

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[-1] == 'h':
        print(i)

intra.h
define.h

In [165]:
# 160

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[-1] == 'h' or i.split('.')[-1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [166]:
# 161

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [167]:
# 162

for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [168]:
# 163

for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [170]:
# 164

for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [173]:
# 165

for i in range(0, 10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [176]:
# 166

for i in range(1, 10):
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [179]:
# 167


for i in range(1, 10, 2):
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [11]:
# 168

n = 0

for i in range(1, 11):
    n += i

print(f'합 : {n}')

합 : 55

In [12]:
# 169

n = 0

for i in range(1, 11, 2):
    n += i

print(f'합 : {n}')

합 : 25

In [14]:
# 170

n = 1

for i in range(1, 11):
    n *= i

print(f'곱 : {n}')

곱 : 3628800

In [15]:
# 171

price_list = [32100, 32150, 32000, 32500]

for price in price_list:
    print(price)

32100
32150
32000
32500

In [19]:
# 172

price_list = [32100, 32150, 32000, 32500]
index = 0

# for i in price_list:
#     print(f'{index} {i}')
#     index += 1

for i, price in enumerate(price_list):
    print(i, price)
    
'''
enumerate 함수를 사용해도 된다......
'''

0 32100
1 32150
2 32000
3 32500

'\nenumerate 함수를 사용해도 된다......\n'

In [24]:
# 173

price_list = [32100, 32150, 32000, 32500]
index = len(price_list) - 1

for i in price_list:
    print(f'{index} {i}')
    index -= 1
    
# 한 줄로 코딩하면 아래와 같다.
# for i in range(len(price_list)):
#     print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [31]:
# 174

price_list = [32100, 32150, 32000, 32500]
new_price_list = price_list[1:]
index = 100

for i in range(len(new_price_list)):
    print(f'{index} {new_price_list[i]}')
    index += 10
    
# for i in range(1, 4):
#    print(90 + 10 * i, price_list[i])
# 이렇게도 쓸 수 있었던 문제였던 것이다....

100 32150
110 32000
120 32500

In [38]:
# 175

my_list = ["가", "나", "다", "라"]
list2 = my_list[:]

# for i in my_list:
#     if len(list2) > 1:
#         print(list2[:2])
#         list2.remove(i)

for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [39]:
# 176

my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list) - 2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [40]:
# 177

my_list = ["가", "나", "다", "라"]
my_list = my_list[::-1]

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

라 다
다 나
나 가

In [41]:
# 178

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [44]:
# 179

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i] + my_list[i+1] + my_list[i+2]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [46]:
# 180

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(5):
    volatility.append(high_prices[i] - low_prices[i])
    
print(volatility)

[50, 100, 30, 80, 0]

In [2]:
# 181

apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [3]:
# 182

stock = [["시가",100, 200, 300], ["종가",80, 210, 330]]

In [4]:
# 183

stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}

In [5]:
# 184

stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}

In [8]:
# 185

apart = [ [101, 102], [201, 202], [301, 302] ]

# print(f'{apart[0][0]} 호')
# print(f'{apart[0][1]} 호')
# print(f'{apart[1][0]} 호')
# print(f'{apart[1][1]} 호')
# print(f'{apart[2][0]} 호')
# print(f'{apart[2][1]} 호')  내가 쓴 개무식한 방법...

for row in apart:  # 그리고 답지....
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [9]:
# 186

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [10]:
# 187

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [11]:
# 188

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [15]:
# 189

apart = [ [101, 102], [201, 202], [301, 302] ]

# for row in apart:
#     for col in row:
#         if col == row[-1]:
#             print(col, "호")
#             print("-----")
#         else:
#             print(col, "호")  # 내가 쓴 답변... ^^

for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [16]:
# 190

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [22]:
# 191

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col + (col * 0.014 * 0.01))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [37]:
# 192


data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col + (col * 0.014 * 0.01))
    print("-----")

2000.28
3050.427
2050.287
1980.2772
-----
7501.05
2050.287
2050.287
1980.2772
-----
15452.163
15052.107
15552.177
14902.086
-----

In [25]:
# 193

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for row in data:
    for col in row:
        result.append(col + (col * 0.014 * 0.01))
        
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [36]:
# 194 **********중요***************

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for row in data:
    a = []  # 빈 리스트 a는 한번 행이 돌고나서 다시 빈 리스트로 돌아와야하니까 반드시 for문 안에 위치해야 함!!!
    for col in row:
        a.append(col + (col * 0.014 * 0.01))
    result.append(a)
        
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [43]:
# 195

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# for i in range(1, 4):
#     print(ohlc[i][3])  # 내가 쓴 답....

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [44]:
# 196

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [45]:
# 197

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[0] <= row[3]:
        print(row[3])

100
310

In [46]:
# 198

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for row in ohlc[1:]:
    volatility.append(row[1] - row[2])
    
print(volatility)

[40, 30, 10]

In [47]:
# 199

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1] - row[2])

10

In [48]:
# 200

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

total = 0

for row in ohlc[1:]:
    total += row[0] - row[3]

print(total)

0

In [49]:
# 201

def print_coin():
    print("비트코인")

In [53]:
# 202

print_coin()

비트코인

In [56]:
# 203

for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [57]:
# 204

def print_coins():
    for i in range(100):
        print("비트코인")

In [61]:
# 205

# 함수를 정의하기 전에 호출해서.

In [62]:
# 206

# A
# B
# C
# A
# B

In [63]:
# 207

# A
# C
# B

In [65]:
# 208

# A
# C
# B
# E
# D

In [66]:
# 209

# B
# A

In [67]:
# 210

# B
# C
# B
# C
# B
# C
# A

In [68]:
# 211

# 안녕
# Hi

In [69]:
# 212

# 7
# 15

In [70]:
# 213

# 인자가 하나 들어가게끔 함수가 정의되어있는데, 함수 호출 시 인자(파라미터)가 들어가지 않아서.

In [71]:
# 214

# 문자열과 정수형을 합치려고 해서.

In [72]:
# 215

def print_with_smile(str):
    print(str, ":D")  # 답지에는 + 라고 되어있는데 콤마와 더하기가 뭐가 다른지...?

In [73]:
# 216

print_with_smile("안녕하세요")

안녕하세요 :D

In [74]:
# 217

def print_upper_price(int):
    print(int * 1.3)

In [75]:
# 218

def print_sum(a, b):
    print(a + b)

In [76]:
# 219

def print_arithmetic_operation(a, b):
    print(a, "+", b, a + b)
    print(a, "-", b, a - b)
    print(a, "*", b, a * b)
    print(a, "/", b, a / b)

In [78]:
# 220

# def print_max(a, b, c):  내가 쓴 거지같은 함수....^^
#     if a >= b and a >= c:
#         print(a)
#     elif b >= a and b >= c:
#         print(b)
#     elif c >= a and c >= b:
#         print(c)

def print_max(a, b, c):
    max_value = 0
    if a > max_value:
        max_value = a
    if b > max_value:
        max_value = b
    if c > max_value:
        max_value = c
    print(max_value)

In [79]:
# 221

def print_reverse(str):
    print(str[::-1])

In [83]:
# 222

def print_score(list):  # 인자(파라미터)자리에 리스트를 직접 입력해서 받는 건 안되는 것 같다!
    print(sum(list) / len([list]))

In [85]:
# 223

def print_even(list):
    for i in list:
        if i % 2 == 0:
            print(i)
            
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [87]:
# 224

# def print_keys(dict):
#     print(dict.keys())

def print_keys(dict):
    for key in dict.keys():
        print(key)
    
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [89]:
# 225

def print_value_by_key(my_dict, date):
    print(my_dict[date])
    
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [95]:
# 226

def print_5xn(str):
    for i in range(1, len(str)+1):
        if i % 5 == 0:
            print(str[i-5:i])
        
print_5xn("아이엠어보이유알어걸")

# def print_5xn(line):
#     chunk_num = int(len(line) / 5)
#     for x in range(chunk_num + 1) :
#         print(line[x * 5: x * 5 + 5])  얘는 답안지!

아이엠어보
이유알어걸

In [122]:
# 227

# def printmxn(string, cnt):
#     for i in range(1, len(string)+1):
#         if i % 3 == 0:
#             print(string[i-3:i])  # 이 방법(3의 배수)으로 하면 딱 세글자로 떨어지는 것 밖에 안나온다. 
            
# printmxn("아이엠어보이유알어걸", 3)

def printmxn(string, cnt):
    for i in range(int(len(string) / cnt) + 1):
        print(string[i * 3:i * 3 + 3])

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [118]:
# 228

def calc_monthly_salary(number):
    return int(number / 12)

calc_monthly_salary(12000000)

1000000

In [123]:
# 229

# 왼쪽: 100 오른쪽: 200

In [124]:
# 230

# 왼쪽: 200 오른쪽: 100

In [126]:
# 231

# 에러가 난다. return이 없기 때문에.

In [130]:
# 232

def make_url(string):
    print(f'www.{string}.com')
    
make_url("naver")

www.naver.com

In [131]:
# 233

def make_list(string):
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

In [132]:
# 234

def pickup_even(l):
    empty_list = []
    for i in l:
        if i % 2 == 0:
            empty_list.append(i)
    print(empty_list)
    
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [143]:
# 235

# def convert_int(string):
#     a = string.split(',')
#     return int(''.join(a))   

# convert_int("1,234,567")  내가 작성한 코드......

def convert_int(string):
    return int(string.replace(',', ''))  # 메서드를 잘 외우자...!!^^

convert_int("1,234,567")

1234567

In [144]:
# 236

# 22

In [145]:
# 237

# 22

In [146]:
# 238

# 140

In [147]:
# 239

# 16

In [148]:
# 240

# 28

In [149]:
# 241 - # 250 은 모듈 문제라서 PASS

In [150]:
# 251

# 클래스 : 인스턴스들을 묶어놓은 상위개념..
클래스는 공통된 속성과 조작법을 가진 객체들의 분류이다.
# 객체 : 값. 
값. 파이썬에 있는 모든 것은 객체이다. 
# 인스턴스 : 객체... 
인스턴스는 특정 클래스의 실제 데이터 예시(instance)이다.
파이썬에서 모든 것은 객체이고, 모든 객체는 특정 클래스의 인스턴스이다.

SyntaxError: invalid syntax (2959443196.py, line 4)

In [183]:
# 252

class Human:
    pass

In [153]:
# 253

areum = Human()

# 클래스의 인스턴스는 클래스를 호출함으로써 생성된다!!!

type(areum)

__main__.Human

In [182]:
# 254

class Human:
    def __init__(self):
        print("응애응애")
        
areum = Human()

# 생성자 추가와 속성 추가는 결과적으로는 같다. 하지만, 속성은 이미 클래스나 인스턴스가 정의된 이후에도 추가할 수 있고, 
# 생성자 추가의 단계에서 예를들어, self, name, age 인자를 받겠다고 정의를 하면, 나중에 호출할때 name이나 age가 없으면 error가 일어난다.

응애응애

In [181]:
# 255

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [180]:
# 256

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 25, "여자")

print(f'이름: {areum.name}')
print(f'나이: {areum.age}')
print(f'성별: {areum.sex}')

이름: 아름
나이: 25
성별: 여자

In [179]:
# 257

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self):
        return f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}'
        # 위의 생성자 메서드에서 지정해준 속성을 {}안에 써야한다! 그냥 name 이래버리면 안나옴...
        
areum = Human("아름", 25, "여자")

print(areum.who())

이름: 아름, 나이: 25, 성별: 여자

In [178]:
# 258

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        return f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}'
    
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("모름", 0, "모름")

areum.setInfo("아름", 25, "여자")
areum.who()

'이름: 아름, 나이: 25, 성별: 여자'

In [184]:
# 259

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        return f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}'
    
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def __del__(self):
        print("나의 죽음을 알리지 말라")
        

areum = Human("아름", 25, "여자")

del areum

나의 죽음을 알리지 말라

In [186]:
# 260

# 클래스 내 인스턴스 메서드를 생성할 때 self 인자를 추가하지 않아서. 

class OMG : 
    def print(self) :
        print("Oh my god")

# >>> >>> myStock = OMG()
# >>> myStock.print()
# TypeError Traceback (most recent call last)
# <ipython-input-233-c85c04535b22> in <module>()
# ----> myStock.print()

# TypeError: print() takes 0 positional arguments but 1 was given

myStock = OMG()

myStock.print()

Oh my god

In [187]:
# 261

class Stock:
    pass

In [189]:
# 262

class Stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        
삼성 = Stock("삼성전자", "005930")
print(삼성.종목명)
print(삼성.종목코드)

삼성전자
005930

In [197]:
# 263

class Stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        
#     def set_name(self, 종목명):
#         return f'{종목명}'

    def set_name(self, 종목명):
        self.종목명 = 종목명

a = Stock(None, None)
a.set_name("삼성전자")
print(a.종목명)

# 내가 위에 쓴 코드는 함수를 호출할 때!!! -> print(a.set_name(종목명))
# 답지에 쓰여 있는 코드는 속성을 호출할 때!! -> print(a.종목명)

삼성전자

In [200]:
# 264

class Stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
    
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드

a = Stock(None, None)
a.set_code("005930")
print(a.종목코드)

005930

In [202]:
# 265

class Stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명

    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
    
    def get_name(self):
        return f'{self.종목명}'
    
    def get_code(self):
        return f'{self.종목코드}'

삼성 = Stock("삼성전자", "005930")

print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930

In [203]:
# 266

class Stock:
    def __init__(self, 종목명, 종목코드, PER, PBR, 배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = float(PER)  # 굳이 float를 쓰지 않아도 되는 것 같다...?
        self.PBR = float(PBR)
        self.배당수익률 = float(배당수익률)
        
    def set_name(self, 종목명):
        self.종목명 = 종목명

    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
    
    def get_name(self):
        return f'{self.종목명}'
    
    def get_code(self):
        return f'{self.종목코드}'

In [205]:
# 267

class Stock:
    def __init__(self, 종목명, 종목코드, per, pbr, 배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
        
    def set_name(self, 종목명):
        self.종목명 = 종목명

    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
    
    def get_name(self):
        return f'{self.종목명}'
    
    def get_code(self):
        return f'{self.종목코드}'
    
my_instance = Stock('삼성전자', '005930', '15.79', '1.33', '2.83')

In [206]:
# 268

class Stock:
    def __init__(self, 종목명, 종목코드, per, pbr, 배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
        
    def set_name(self, 종목명):
        self.종목명 = 종목명

    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
    def set_per(self, per):
        self.per = per
    
    def set_pbr(self, pbr):
        self.pbr = pbr
    
    def set_배당수익률(self, 배당수익률):
        self.배당수익률 = 배당수익률
    
    def get_name(self):
        return f'{self.종목명}'
    
    def get_code(self):
        return f'{self.종목코드}'

In [207]:
# 269

삼성 = Stock('삼성전자', '005930', '15.79', '1.33', '2.83')

삼성.set_per(12.75)

print(삼성.per)

12.75

In [208]:
# 270

삼성 = Stock('삼성전자', '005930', '15.79', '1.33', '2.83')
현대 = Stock('현대차', '005380', '8.70', '0.35', '4.27')
엘지 = Stock('LG전자', '066570', '317.34', '0.69', '1.37')

my_list = [삼성, 현대, 엘지]

for i in my_list:
    print(i.종목코드, i.per)

005930 15.79
005380 8.70
066570 317.34

In [211]:
# 271

import random

class Account:
    def __init__(self, 예금주, 잔액):
        self.은행이름 = 'SC은행'
        self.예금주 = 예금주
        self.잔액 = 잔액
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        
kim = Account("김민수", 100)
print(kim.예금주)
print(kim.잔액)
print(kim.은행이름)
print(kim.account_number)

김민수
100
SC은행
613-32-856008

In [215]:
# 272

import random

class Account:
    account_count = 0  # 처음에 갯수를 0이라고 설정을 해두고, 맨 아래에 += 를 써준다!
    
    def __init__(self, 예금주, 잔액):
        self.은행이름 = 'SC은행'
        self.예금주 = 예금주
        self.잔액 = 잔액
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
    
        Account.account_count += 1  # 생성자 메서드 정의 안에 들어가 있어야 한다... 왜인지는 모르겠지만.

In [218]:
# 273

import random

class Account:
    account_count = 0  # 처음에 갯수를 0이라고 설정을 해두고, 맨 아래에 += 를 써준다!
    
    def __init__(self, 예금주, 잔액):
        self.은행이름 = 'SC은행'
        self.예금주 = 예금주
        self.잔액 = 잔액
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001' 애초에 문자열 메서드이기 때문에 str 형변환 필요!
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
    
        Account.account_count += 1  # 생성자 메서드 정의 안에 들어가 있어야 한다... 왜인지는 모르겠지만.
        
#     def get_account_num(self):
#         return f'{Account.account_count}' # 내가 쓴 코드

    @classmethod
    def get_account_num(cls):
        print(Account.account_count)  # 왜 꼭 클래스 메서드로 생성해야하는지는 모르겠다..! 아마 클래스 변수를 가져와서 그런게 아닐까
        
        # 클래스 자체(cls)와 클래스 속성에 접근할 필요가 있다면 클래스 메서드로 정의한다!
    
    
kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [221]:
# 274

import random

class Account:
    account_count = 0
    
    def __init__(self, name, balance):
        self.bank = 'sc은행'
        self.name = name
        self.balance = balance
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
        
    @classmethod
    def get_account_num(cls):
        print(Account.account_count)
        
    def deposit(self, money_in):
        if int(money) >= 1:
            self.balance += money_in
            return self.balance
        else:
            return '1원 이상 입금 가능합니다.'

In [224]:
# 275

import random

class Account:
    account_count = 0
    
    def __init__(self, name, balance):
        self.bank = 'sc은행'
        self.name = name
        self.balance = balance
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
        
    @classmethod
    def get_account_num(cls):
        print(Account.account_count)
        
    def deposit(self, money_in):
        if int(money_in) >= 1:
            self.balance += money_in
            return self.balance
        else:
            return '1원 이상 입금 가능합니다.'
        
    def withdraw(self, money_out):
        if money_out >= self.balance:
            return '계좌의 잔고 이상으로 출금할 수 없습니다.'
        else:
            self.balance -= money_out
            
            
k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [239]:
# 276

import random

class Account:
    account_count = 0
    
    def __init__(self, name, balance):
        self.bank = 'sc은행'
        self.name = name
        self.balance = balance
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
        
    @classmethod
    def get_account_num(cls):
        print(Account.account_count)
        
    def deposit(self, money_in):
        if int(money_in) >= 1:
            self.balance += money_in
            return self.balance
        else:
            return '1원 이상 입금 가능합니다.'
        
    def withdraw(self, money_out):
        if money_out >= self.balance:
            return '계좌의 잔고 이상으로 출금할 수 없습니다.'
        else:
            self.balance -= money_out
            
    def display_info(self):
        print('은행이름:', self.bank)
        print('예금주:', self.name)
        print('계좌번호:', self.account_number)
        print(f'잔고: {self.balance:,}')

p = Account("파이썬", 10000)
p.display_info()

은행이름: sc은행
예금주: 파이썬
계좌번호: 788-94-057246
잔고: 10,000

In [246]:
# 277

import random

class Account:
    account_count = 0
    
    def __init__(self, name, balance):
        self.bank = 'sc은행'
        self.name = name
        self.balance = balance
        self.deposit_count = 0
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
        
    @classmethod
    def get_account_num(cls):
        print(Account.account_count)
        
    def deposit(self, money_in):
        
        if int(money_in) >= 1:
            self.balance += money_in
            self.deposit_count += 1
        
        if self.deposit_count % 5 == 0:  # 생성자 메서드에 self.balance 라고 속성 할당을 해줘야하는 이유는?
                    # 아마 그냥 생성하면 클래스 변수로 생성되기때문에 인스턴스 메서드 안에서 따로 변수(속성)으로 할당을 해줘야 하지 않을까..?
            self.balance *= 1.01
            return self.balance
        
        else:
            return '1원 이상 입금 가능합니다.'
        
        
    def withdraw(self, money_out):
        if money_out >= self.balance:
            return '계좌의 잔고 이상으로 출금할 수 없습니다.'
        else:
            self.balance -= money_out
            
    def display_info(self):
        print('은행이름:', self.bank)
        print('예금주:', self.name)
        print('계좌번호:', self.account_number)
        print(f'잔고: {self.balance:,}')
        

        
p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [252]:
# 278

a = Account("세종대왕", 10000000)
b = Account("신사임당", 500000)
c = Account("율곡이이", 100000)

my_list = [a, b, c]

In [254]:
# 279

for i in my_list:
    if i.balance >= 1000000:
        i.display_info()  # 위의 함수에서 return 이 아니라 print를 써줬기 때문에 여기서 print를 한 번 더 쓰게 되면 none이 출력되어버린다!

은행이름: sc은행
예금주: 세종대왕
계좌번호: 993-36-908039
잔고: 10,000,000

In [269]:
# 280

import random

class Account:
    account_count = 0
    
    def __init__(self, name, balance):
        self.bank = 'sc은행'
        self.name = name
        self.balance = balance
        self.deposit_count = 0
        self.w_history = []
        self.d_history = []
        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
        
    @classmethod
    def get_account_num(cls):
        print(Account.account_count)
        
    def deposit(self, money_in):

        if int(money_in) >= 1:
            self.balance += money_in
            self.deposit_count += 1
            self.d_history.append(self.balance)
        
            if self.deposit_count % 5 == 0:  # 생성자 메서드에 self.balance 라고 속성 할당을 해줘야하는 이유는?
                        # 아마 그냥 생성하면 클래스 변수로 생성되기때문에 인스턴스 메서드 안에서 따로 변수(속성)으로 할당을 해줘야 하지 않을까..?
                self.balance *= 1.01
                return self.balance
            
        else:
            return '1원 이상 입금 가능합니다.'
        
    def deposit_history(self):
        for i in self.d_history:
            print(i)
        
        
    def withdraw(self, money_out):
        
        if money_out >= self.balance:
            return '계좌의 잔고 이상으로 출금할 수 없습니다.'
        else:
            self.balance -= money_out
            self.w_history.append(self.balance)
            
    def withdraw_history(self):
        for i in self.w_history:
            print(i)
            
    def display_info(self):
        print('은행이름:', self.bank)
        print('예금주:', self.name)
        print('계좌번호:', self.account_number)
        print(f'잔고: {self.balance:,}')
        
        
k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

1100
1300
1600
1500
1300

In [262]:
# 281

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
        
car = 차(2, 1000)

print(car.바퀴)
print(car.가격)

2
1000

In [263]:
# 282

class 자전차(차):
    pass

In [267]:
# 283

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
    
bicycle = 자전차(2, 100)
print(bicycle.가격)
    
    
# super 쓰는 법을 모르겠다......

100

In [270]:
# 284

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

        
bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)

시마노

In [274]:
# 285

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)  # super(). 를 쓸 때는 뒤에 init에 self가 안붙는다!!!!!!!!!!!
    
    def 정보(self):
        print("바퀴수", self.바퀴)
        print("가격", self.가격)

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [276]:
# 286

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
    def 정보(self):
        print("바퀴수", self.바퀴)
        print("가격", self.가격)
        
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)  # super(). 를 쓸 때는 뒤에 init에 self가 안붙는다!!!!!!!!!!!
    
    def 정보(self):
        print("바퀴수", self.바퀴)
        print("가격", self.가격)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

In [277]:
# 287

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
    def 정보(self):
        print("바퀴수", self.바퀴)
        print("가격", self.가격)
        
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계
        
    def 정보(self):
        super().정보()  # super(). 로 부모 클래스(차)의 정보 함수를 가져옴. 구동계에 해당하는 것만 하나 더 출력할 수 있게 해줌.
        print("구동계", self.구동계)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)  # super(). 를 쓸 때는 뒤에 init에 self가 안붙는다!!!!!!!!!!!
    
    def 정보(self):
        print("바퀴수", self.바퀴)
        print("가격", self.가격)
        
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [278]:
# 288

class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()  # 부모 클래스에도 있는 호출함수를 한번 더 써버려서 오버라이딩이 되어버림! 

# 자식호출

자식호출

In [279]:
# 289

class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")

나 = 자식()

# 자식생성

자식생성

In [281]:
# 290

class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

# 부모생성

# 자식생성이랑 부모생성 둘 다 나와버림.. 왜냐면 '나'는 자식 클래스의 인스턴스여서 일단 print 구문이 더 앞에 있으니, 걔도 실행
# 그리고 아래에 있는 부모 클래스의 생성자 메서드도 호출해서 부모 클래스의 생성자 메서드의 결과인 print 구문도 실행.

자식생성
부모생성

In [ ]:
# 291 ~ 300 은 파일 입출력과 예외처리인데 안배운거라서 안하겠음 ^0^